.greenBox {
  background: #3ad886;
  height: 475px;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  overflow: scroll;
}

p {
  text-align: left;
}

.addImg {
  max-width: 350px;
  max-height: 235px
}

input {
  width: 100%;
  font-size: 12pt;
}

button {
  background: #ed6b5a;
  height: 35px;
  border-radius: 10px;
  font-size: 10pt;
}

.btns {
  display: flex;
  justify-content: space-between;
}
